body {
    background: grey;
}

/* h1, h3 {
    color: antiquewhite;
} */

h3:hover {
    color: lightblue;
}

a:hover {
    color: lightcoral;
}

.aclass {
    color: antiquewhite;
}

.links {
    color: antiquewhite;
}
